<configuration>
    <!-- Appender para la consola -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Appender para el archivo -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>app.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Configuración del nivel de logging por defecto. Cualquier traza del proyecto a INFO se vera en la consola -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- Configuración específica para el paquete com.castelaofp.first_spring_boot.repository.
     Cualquier traza a DEBUG o superior se verá en el fichero -->
    <logger name="com.fp" level="DEBUG">
        <appender-ref ref="FILE"/>
    </logger>
</configuration>
